option_settings:
  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp3
    DisableIMDSv1: true

  aws:elasticbeanstalk:application:environment:
    OPENAI_API_KEY='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'
    JIVOCHAT_TOKEN='ypmaOmLwg91JcOAzRlsddDEOVjYJXwxj7V9go30pzOvhFD0xrp3ruwVBF3'
    MONGODB_URI='mongodb+srv://luciano:Gn1hrhRcH5nh3KlM@drop-cluster.uxszu.mongodb.net/?retryWrites=true&w=majority&appName=drop-cluster'